header {
    width: 100%;
    background-color: rgb(48, 47, 47);
    & .navbar {
        color: white;
        width: 90%;
        margin: 0 auto;
        min-height: 56px;
        & .bit {
            color: white;
            font-size: large;
        }
        & .button {
            color: white;
            border-color: white;
            &:hover {
                background-color: rgb(123, 146, 146);
                color: black;
            }
            &:visited {
                background-color: rgb(123, 146, 146);
            }
        }
        .searchButton{
            position: relative;
        }
    }
}
